<!DOCTYPE html>
<html>
    <head>
        <title>List of Words</title>
    </head>
    <body>

    <!-- ADD WORD PAGE LINK -->
    <a href="{% url 'add_word' %}">+ Añadir nueva palabra</a>
    <hr>
    <h1>List of Words</h1>
    <ul>
        {% for word in words %}
            <li>
                <strong>{{ word.original }}</strong>: {{ word.translation }} 
                <em>({{ word.language }})</em>
            </li>
        {% empty %}
            <li>No words registered yet.</li>
        {% endfor %}
    </ul>
</body>
</html>